body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 38px;
}
.spane{
    color: goldenrod;
}
.flexible{
    display: flex;
    margin-bottom: 150px;

}
.half-width{
    width: 50% ; 
    padding-left: 10%;  
}
.half-width img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgba(177, 209, 245, 0.438),rgba(235, 77, 52, 0.438));
    color: white;
    font-weight: 700;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 7px;
}

.top-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-position-x: right;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
}

.exprince{
    text-align: center;
    border-radius: 7px;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 7px;
    box-shadow: 10px 10px 40px gray;
    
}
.exprince{
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}

#full-stack{
    
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;

}
#web-developer{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
 
    

footer p{
    text-align: center;
}
#Ex{
    color: gold;
    margin-left: 5%;
}