body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
  
}
h1{
    font-size: 50px;
}
#spane{
    color: goldenrod;
}
section{
    display: flex;
}
.div{
    width: 50% ; 
    padding-left: 10%;  
}
.div img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgba(177, 209, 245, 0.438),rgba(235, 77, 52, 0.438));
    color: white;
    font-weight: 700;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 7px;
}
.top-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}